body {
	background-color: #0C587F;
}
h1 {
	color: #1E7F08;
	text-align: left;
}
img {
	width:400px;  /* temporary value to keep images under control until you're ready to style them */
}
p {
	font-family: verdana;
	font-size: 20px;
}
