
body {
	color: #25D6E5;
	background-color: #402105;
	font-family: "Roboto", sans-serif;
	}

.cir {

	background-color:#25D6E5 ;
	width: 100px;
	height: 100px;
	border-radius:100%;
	font-size: 20px;
	color: #5C5C7F;
	line-height: 100px;
	text-align: center;
	display: inline-block	
}


.image {
	position: relative;
	width: 100%; /* for IE 6 */
    
h1 {
	position: absolute;
	top: 200x;
	left: 0px;
	width: 100%;
	font-size: 100px;
	text-align: center;
	padding-left: 10px;
	color: #74777c;
	text-shadow: 2px 2px #000000;
	font-family:"Merriweather", serif;
    }

nav {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	font-size: 20px;
	text-align: left;
	padding:20px;
	color: #9498a1;
	font-style: italic;
}   
 nav a {
 	color: #5C5C7F;
 	text-decoration: none;

}
p {
	margin-top: 1.5em;
	margin-left:.5em;
	font-family: verdana;
	font-size: 20px;
	color: black;
}


h2 {
	font-size: 30px
	font-style: italic; 
	text-transform: uppercase;
	color: #9498a1;
	text-align: center;
}
ul {
	list-style-type: none;
	color: #402105;
	border-radius:100%;
	font-size: 20px;
	line-height: 100px;
	text-align: center;
	display: inline-block;
	position: absolute;
	right: 100px;
	bottom: 20px;
	top:945px;
	vertical-align: middle;
	padding-bottom: 20px;
}
.table {
	text-align: center;

}

#slogan {
	font-style: italic;
	font-size: 60px;
	color: #5C5C7F;
	text-decoration: none;
	text-align: center;
}

#description {
	font-style: normal;
	font-size: 70px;
	color: #5C5C7F;
	text-decoration: none;
	text-align: center;
}
